body{
    background-image: url(image/pngtree-love-charity-sale-love-fundraising-charity-poster-background-template-image_152736.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h2{
     text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-left:-20px;
    margin-top: 60px;
    text-decoration: underline;
    margin-bottom: 10px;
    padding-bottom: 40px;
    font-family: "Fantasy", "Copperplate";
    color:darkred;  
              
}


input[type="text"], input[type="textarea"] , input[type="date"], input[type="number"],select {
margin : 8px 0;
display: inline-block;    
margin-top: 5px;
margin-bottom: 20px;
padding: 12px 20px;
width: 100%;
border-radius: 20px;
border: none;  


}
.fileBtnStyle{
    margin-top: 20px;
background-color: darkred;
color: #ffffff;
font-size: 20px;
padding : 10px: 15px;
border: none;
width: 70%;
padding: 8px;
margin-left: 65px;
margin-bottom: 20px;
border-radius: 30px;
}
input[type="radio"]{
    margin: 10px;
    display:"block";
    padding-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}  
  #submit_btn{
               
      margin-top: 20px;
background-color: darkred;
color: #ffffff;
font-size: 20px;
padding : 10px: 15px;
border: none;
width: 70%;
padding: 18px;
margin-left: 65px;
margin-bottom: 20px;
border-radius: 30px;
                
            }
            
label{
margin-top: 10px;
margin-bottom: 20px;
width: 100%;
font-size: 25px; 
font-family: "Times New Roman", Times, serif;
color: darkred;
padding-bottom: 10px;

}
form{
     border-radius: 35px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 50px;
    border-style: none;  
    box-shadow: 35px 35px 35px  #c28f8f;  
    padding-top: 60px;
}